<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <nav>
    <a href="/register">Registration</a>
    <a href="/login">Login</a>
    <a href="/logout">Logout</a>
  </nav>
  <div id="regform">
    <h2>Please, fill the form!</h2>
    <form method='post' action="">
        <label for="username">Username</label>
        <input type="text"  id="username" name="username" placeholder="username"/><br/>

        <label for="password">Password</label>
        <input type="password"  id="password" name="password" placeholder="password"/><br/>

        <label for="passwordconf">Password Confirmation</label>
        <input type="password"  id="passwordconf" name="passwordconf" placeholder="confirm password"/><br/>
        <!-- here some comment -->
        <input id="button" type="submit" name="submit" value="Register" />
    </form>
  </div>

</body>
</html>
